.taskContent {
    width: 100%;
    max-width: 736px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    gap: 1.5rem;
    margin-top:34px;
  }
  
  .taskContentHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:30px;
  }
  
  .taskCreatedTaskCounter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.7;
    font-weight: bold;
    color: var(--blue-300);
  }
  
  .taskCreatedTaskCounter > span {
    width: 2rem;
    height: 1.3rem;
    padding: 2px 8px;
    border-radius: 14px;
    display: flex;
    gap:0.5rem;
    margin-left:0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    background: var(--gray-400);
    color: var(--gray-200);
  }
  
  .taskDoneTaskCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.7;
    font-weight: bold;
    color: var(--purple-300);
  }
  
  .taskDoneTaskCounter > span {
    width: fit-content;
    height: 1.3rem;
    padding: 2px 8px;
    border-radius: 14px;
    display: flex;
    margin-left:0.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    background: var(--gray-400);
    color: var(--gray-200);
  }
  
  .emptyTask {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--gray-300);
    /* background-color: white; */
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
    border-top: 1px solid var(--gray-300);
    border-radius: 8px;
  }
  
  .emptyTask > svg {
    margin-bottom: 1rem;
    margin-top: 3rem;
    color: var(--gray-400);
  }
  
  .taskItensContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  @media (max-width: 400px) {
    .taskContentHeader {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

